/* base.css @ timglorioso.com */

@font-face {
   font-family: 'Formular Mono';
   src: url('http://timglorioso.com/assets/formular-mono-webfont.woff')
        format('woff');
   font-style: normal;
   font-weight: 400;
}

/* –– universal styles –––––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
   font: normal 400 20px/1.7 'Neutral', sans-serif;
   color: rgb(51, 51, 51);
   cursor: default;
}

a {
   color: rgb(85, 34, 187);
   text-decoration: none;
}

a:hover {
   color: rgb(68, 17, 170);
}

header {
   position: fixed;
   border-bottom: 3px solid;
   padding: .7em 0 .8em 1.3em;
   width: 100%;
   background-color: rgba(255, 255, 255, .9);
   /* Some versions of Safari disable subpixel-antialiasing on elements with
      fixed position */
   -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
   display: inline-block;
   margin: 0;
   font-size: inherit;
}

header button {
   position: absolute;
   right: 1.3em;
   bottom: 0;
   border: 0;
   padding: 0;
   width: 3.3em;
   height: 3.3em;
   background-color: transparent;
   border-left: 3px solid rgb(51, 51, 51);
   font-weight: 700;
}

header button:focus {
   outline: 0;
}

nav {
   display: none;
   position: absolute;
   top: 3.33em;
   right: 1.1em;
}

nav ul.subtle-list {
   margin: 0;
   padding: .4em 0 .6em;
   background-color: rgba(85, 34, 187, .9);
}

nav a {
   display: inline-block;
   padding: .2em 1.5em .3em;
   width: 7.2em;
   font-size: .8em;
   color: #fff;
}

nav a:hover {
   color: #fff;
   background-color: rgba(68, 17, 170, .6);
}

main {
   margin: 0 auto 3em;
   padding-top: 6em;
}

main > :first-child {
   margin-top: 0;
}

/* –– blog index styles ––––––––––––––––––––––––––––––––––––––––––––––––––– */

main #posts li {
   margin: 0 auto 2.4em;
   line-height: 1.5;
}

main #posts a {
   display: inline-block;
   font-weight: 700;
}

main #posts span {
   display: block;
   margin-top: .4em;
   font-weight: 700;
   font-size: .7em;
   text-transform: uppercase;
}

/* –– blog post styles –––––––––––––––––––––––––––––––––––––––––––––––––––– */

main h1 {
   display: block;
   font-weight: 700;
   line-height: 1.5;
}

main h1 + p {
   margin: .4em auto 3em;
   font-weight: 700;
   font-size: .7em;
   line-height: 1.5;
   text-transform: uppercase;
}

main p {
   margin: 1.3em auto;
   font-size: .9em;
}

main p a {
   text-decoration: underline;
}

.subtle-list {
   padding: 0;
   list-style: none;
}

.epigraph {
   margin-bottom: 2em;
   padding-left: 2.4em;
   font-style: italic;
}

.epigraph p {
   margin: 0;
}

.epigraph cite {
   display: inline-block;
   margin-top: 1em;
   font-size: .9em;
}

.epigraph cite::before {
   padding-right: .4em;
   content: '\2014';
}

hr {
   margin: 1.8em 0;
   border: 1px solid #333;
   width: 1.8em;
}

/* –– about page styles ––––––––––––––––––––––––––––––––––––––––––––––––––– */

main #links {
   margin-top: 2em;
}

main #links li {
   font-size: .9em;
}

/* –– viewport-dependent styles ––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 500px) {
   main {
      padding-right: 1.3em;
      padding-left: 1.3em;
   }
}

@media (min-width: 501px) and (max-width: 900px) {
   main {
      width: 80%;
   }
}

@media (min-width: 901px) and (max-width: 1200px) {
   main {
      width: 66%;
   }
}

@media (min-width: 1201px) and (max-width: 1500px) {
   main {
      width: 54%;
   }
}

@media (min-width: 1501px) and (max-width: 2000px) {
   main {
      width: 51%;
   }
}

@media (min-width: 2001px) {
   main {
      width: 48%;
   }
}
